h1{
  font-family: sans-serif;
  font-size: 2.5em;
}

#pagewrap{
  width: 500px;
  margin: auto;
}

#starsline{
  margin-left: 15px;
  margin-top: 2px;
  margin-right: 42px;
  display: inline;
}

#ratingtext{
  font-family: sans-serif;
  color: lightgrey;
  font-size: 0.9em;
}

.ratings{
  margin-bottom: 11px;
}

#dollaramount{
  display:inline;
  font-size: 1.7em;
  color: pink;
  margin-right: 54px;
  font-family: sans-serif;
  font-weight: bold;
}

#seconddollaramount{
  font-size: 0.9em;
  color: lightgrey;
  margin-right: 51px;
  font-family: sans-serif;
}

#percentageoff{
  color: darkgrey;
  font-size: 0.9em;
  font-family: sans-serif;
  font-weight: bold;
}

.rates{
  margin-bottom: 29px;
}

#salestypetext{
  font-family: sans-serif;
  font-weight: lighter;
  color: lightblack;
  font-size: 0.8em;
  margin-left: 16px;
}

.salestype{
  margin-bottom: 29px;
}

#colorlabel{
  display:inline;
  font-weight: bold;
  color:dark;
  font-family: sans-serif;
  font-size: 0.8em;
}

.firstrowcirc{
  margin-bottom: 6px;
}

a.circles{
  text-decoration: none;
  display: inline-block;
}

.circles:hover{
  border:3px solid #FFF;
  box-shadow: 0 0 0 2px grey;
}

.c1{
  background-color: Red;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.c2{
  background: purple;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.c3{
  background-color: black;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.c4{
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.c5{
  background-color: orange;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.c6{
  background-color: yellow;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.c7{
  background-color: blue;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.c8{
  background-color: steelblue;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.c9{
  background-color: goldenrod;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.c10{
  background-color: deepskyblue;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.c11{
  background-color: lime;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}


.c12{
  background-color: magenta;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.c13{
  background: wheat;
  height: 25px;
  width: 25px;
  border-radius: 50%;

  cursor: pointer;
}

.c14{
  background-color: darkgreen;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.c15{
  background-color: grey;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.c16{
  background-color: saddlebrown;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.c17{
  background-color: aquamarine;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.c18{
  background-color:thistle ;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
}

#sizetextlabel{
  font-size: 0.8em;
  font-family: sans-serif;
  font-weight: bolder;
}

.colortext{
  margin-bottom: 21px;
}

.circles {
  margin-bottom: 11px;
}

.sizetext{
  margin-bottom: 14px;
}

.circ{
  margin-bottom: 17px;
}

.customfit{
  margin-bottom: 11px;
}

#customfittext{
  font-weight:bolder;
  font-family: sans-serif;
  font-size: 0.8em;
}

.quantity{
  padding: 15px 25px;
  border-radius: 25px;
  color: black;
  background-color: white;
  border:1px solid black;
  display: inline;
}

.cart{
  margin: 10px;
  padding: 15px 80px;
  border-radius: 200px;
  color: white;
  background-color: black;
  display: inline-block;
  text-decoration-line: none;
}

#quant{
  font-weight: bold;
}

#cartbutton{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.9em;
}

.jscriptresponders{
  margin-bottom: 36px;
}

#deets{
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 0.9em;
}

#secondlast{
  font-family: sans-serif;
  font-size: 0.9em;
  font-weight: bolder;
}

.help{
  margin-bottom: 19px;
}

#lasttext{
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 0.9em;
}

.themodal{
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

div .themodal {
	width:400px;
	position: relative;
	margin: 10% auto;
  overflow: auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(white, white);
	background: -webkit-linear-gradient(white, white);
	background: -o-linear-gradient(white, white);
}

.modal_content {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 32%;
}

.modalbody {
  justify-content: left;
  padding: 0%;
  padding-left: 0.3em;
  display: inline-block;
}

#value{
  width: 8%;
  height: 8%;
  background-color: white;
  border: 1px solid white;
  border-radius: 30px;
  color: black;
  margin-right: auto;
  padding: 0%;
  text-align: center;
  display: inline-block;
  font-size: 0.9em;
  position: relative;
  top: -10px;
  left: 5%;
}

.buttons {
	width: 25%;
	min-width: 150px;
  background-color: black;
  border: 2px solid black;
	border-radius: 10px;
  color: white;
  padding: 15px 32px;
	font-weight: bold;
  text-align: center;
  text-decoration: bold;
  display: inline-block;
  font-size: 16px;
  justify-content: left;
}

.minus {
	width: 25px;
	height: 30px;
  display: inline-block;
}

.number {
    width: 8%;
    height: 8%;
  	background-color: white;
  	border: 1px solid white;
  	border-radius: 30px;
  	color: black;
  	margin-right: auto;
  	padding: 0%;
  	font-weight: bold;
  	text-align: center;
  	display: inline-block;
  	font-size: 0.9em;
    position: relative;
    top: -10px;
}

.add {
  width: 25px;
  height: 30px;
  display: inline-block;
}

.optButton{
  border: none;
  color: black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
}

#agree{
  border:1px solid green;
  background-color: lightgreen;
  border-radius: 12px;
}

#cancel{
  border:1px solid red;
  background-color: crimson;
  border-radius: 12px;
}
